.unOrderSearchList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 5px;
}
.listItemContainer {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.stateNameTextSearch {
  font-size: 16px;
  color: #64748b;
}
.stateCodeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: #1cd4d429;
  width: 79px;
  height: 32px;
}
.stateCodeTextSearch {
  color: #facc15;
  font-size: 16px;
  font-weight: 600;
}
.hrLine {
  border: 0.3px solid #64748b;
  margin: 0px;
}
.searchList:hover {
  cursor: pointer;
  border: 1px solid #94a3b8;
  height: 64px;
  background: #1f1f30;
}
.linkStyle {
  text-decoration: none;
}
