.unOrderedList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.caseTotalContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  line-height: 0px;
}
.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.gray {
  color: #6c757d;
}
.statusText {
  font-size: 16px;
  font-weight: 500;
}
.iconSize {
  width: 38px;
}
.countText {
  size: 24px;
  font-weight: 500;
}
